<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a project done to better understand how server can work with databases to create a dynamic website</p>

<%- include("footer") -%>
